<html>
<head>
    <title>Alphabot Team 05</title>

    <link rel="stylesheet" href='../static/style.css'>

</head>
<body id ="body">
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
    <form  method="post" id="form">
        <button class="bottoni" value="w" name="commands">w</button>
        <br>
        <button class="bottoni" value="a" name="commands">a</button>
        <button class="bottoni" value="s" name="commands">s</button>
        <button class="bottoni" value="d" name="commands">d</button>
    </form>
    
</body>
</html>